.aside {
     padding: 31px 78px 162px 32px;
     margin-bottom: 95px;
     max-width: 236px;
     height: 300px;
     background: #132651;
     border-radius: 32px;
     background-image: url('../../img/inginer-img.svg');
     background-repeat: no-repeat;
     background-size: contain;

     .aside__header {
          margin: 0;
          margin-bottom: 8px;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          color: #fff;
     }

     .aside__desc {
          margin: 0;
          margin-bottom: 16px;
          font-size: 14px;
          line-height: 21px;
          color: rgba(255, 255, 255, 0.4);
     }

     .aside__star-link {
          padding: 9px 28px;
          font-size: 12px;
          line-height: 15px;
     }
}
