.container {
     width: 100%;
     max-width: 1300px;
     margin: 0 auto;
     padding: 0 20px;
}

.container-contacts {
     width: 100%;
     max-width: 1400px;
     margin: 0 auto;
     padding: 0 20px;
}
