.contacts-right {
     width: 1056px;
     height: 1000px;
     padding: 64px 68px 214px 68px;
     margin-top: 24px;
     background: #e1e1e1;
     box-shadow: 0px 2.46063px 29.5276px rgba(0, 0, 0, 0.02);
     border-radius: 48px 48px 48px 48px;

     .contacts-box {
          display: flex;
          justify-content: space-between;
     }

     .contacts-form {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 440px;
     }

     .input {
          width: 100%;
          margin-bottom: 24px;
          padding: 12px 24px;
          border: none;
          outline: none;
          border-radius: 12px;
          background: #f6f6f5;
     }

     .input::placeholder {
          font-size: 16px;
          line-height: 24px;
          color: #b3b6b6;
     }

     .contacts-form__textarea {
          margin-bottom: 24px;
          padding: 10px;
          width: 100%;
          height: 202px;
          outline: none;
          border: none;
          background: #f6f6f5;
          border-radius: 12px;
     }

     .contacts-form__btn {
          padding: 12px 0px !important;
          width: 100%;
     }

     //

     .contacts__map {
          display: flex;
          flex-direction: column;
          width: 440px;
     }

     .contacts__iframe {
          margin-bottom: 25px;
          width: 440px;
          height: 332px;
          border-radius: 12px;
     }

     .contacts__address {
          position: relative;
          margin-bottom: 30px;
          padding-left: 32px;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          text-align: center;
          line-height: 24px;
     }

     .contacts__address:hover {
          color: #fff;
     }

     .contacts__address::before {
          position: absolute;
          left: 32px;
          content: '';
          width: 24px;
          height: 24px;
          background-image: url('../../img/location.svg');
          background-size: contain;
     }

     .btn-wrap {
          display: flex;
          align-items: center;
          justify-content: space-between;
     }

     .btn-link__email {
          position: relative;
          padding: 12px 21px 12px 52px;
     }

     .btn-link__email:hover {
          color: #fff;
     }

     .btn-link__email::before {
          position: absolute;
          left: 23px;
          content: '';
          width: 24px;
          height: 24px;
          background-image: url('../../img/directbox-default.svg');
     }

     .btn-link__number {
          display: inline-block;
          position: relative;
          padding: 12px 17px 12px 50px;
     }

     .btn-link__number:hover {
          color: #fff;
     }

     .btn-link__number::before {
          position: absolute;
          left: 20px;
          content: '';
          width: 24px;
          height: 24px;
          background-image: url('../../img/Call.svg');
     }
}
