.main-right {
     width: 926px;
     height: 1000px;
     padding: 64px 30px 0px 30px;
     margin-top: 24px;
     background: #e1e1e1;
     box-shadow: 0px 2.46063px 29.5276px rgba(0, 0, 0, 0.02);
     border-radius: 48px;

     // ==========MAIN-RIGHT__LIST==========

     .main-right__list {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 40px;
          grid-row-gap: 40px;
          height: 690px;
          overflow: auto;
          border-radius: 48px 48px;
          margin: 0;
          padding: 0;
          list-style: none;
     }

     .main-right__list::-webkit-scrollbar {
          width: 0;
     }

     .main-right__list {
          -ms-overflow-style: none;
     }

     .main-right__list {
          overflow: -moz-scrollbars-none;
     }

     .main-right__item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          max-width: 410px;
          min-height: 374px;
          padding: 27px 24px 35px 24px;
          border-radius: 48px;
          background: rgba(0, 0, 0, 0.3);
          background-image: url('../../img/play-circle.svg');
          background-repeat: no-repeat;
          background-size: 66px;
          background-position: center center;
          cursor: pointer;
          transition: 0.5s ease;
     }

     .main-right__item:hover {
          background-color: #6f6f6f;
     }

     .item-card__top {
          display: flex;
          align-items: center;
          // justify-content: space-between;
     }

     .item-card__top-content {
          margin-left: 6px;
     }

     .item-card__top-header {
          margin: 0;
          margin-bottom: 2px;
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          color: #fff;
     }

     .item-card__top-login {
          margin: 0;
          font-size: 14px;
          line-height: 21px;
          color: #fff;
     }

     .item-card__top-info {
          padding: 6px 7px;
          margin-left: 67px;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          color: #fff;
          border-radius: 10px;
          background: #fb6d3a;
     }

     .item-card__footer {
          width: 342px;
          padding: 18px;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
          background: rgba(255, 255, 255, 0.3);
          backdrop-filter: blur(33.4957px);
          border-radius: 24px;
     }
}
